.find-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  margin: 10px 0;
}
.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-icons__icon i {
  font-size: 30px;
}
.find-icons__icon span {
  margin-top: 15px;
}
.recommend-friends {
  margin: 10px 0;
  padding: 25px 0;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommend-friends__title {
  font-size: 14px;
  color: var(--gray);
}
.recommend-friends span {
  display: block;
  text-align: center;
  font-size: 15px;
  margin: 60px 0;
  color: var(--gray);
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.85;
  margin-bottom: 15px;
}
.open-chat__header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 6px;
}
.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}
.open-post__members {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 60%;
  margin-right: 5px;
}
.open-post__member-count {
  opacity: 0.5;
}
.open-post__members .divider {
  width: 1px;
  height: 15px;
  background-color: var(--gray);
  margin: 5px;
  opacity: 0.5;
}
.open-post__member-status {
  color: #ffb0e0;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 80px;
  height: 80px;
  border-radius: 10%;
}
.open-post__photo__heart-count {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.58);
  position: absolute;
  right: 8px;
  bottom: 8px;
  border-radius: 20%;
  color: white;
  padding: 3px;
  opacity: 0.9;
}
.open-post__photo__heart-count > i {
  padding: 0px 3px;
  font-size: 8px;
}
.open-post__photo__heart-count > span {
  font-size: 8px;
}
