.Welcome-header {
  margin: 50px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Welcome-header__title {
  margin-bottom: 20px;
  font-size: 30px;
}
.Welcome-header__text {
  width: 70%;
  opacity: 0.65;
  font-size: 20px;
  font-weight: 600;
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
#login-form input {
  margin: 10px 80px;
  padding: 15px 0px;
  border: none;
  font-size: 15px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1.2px solid var(--gray);
  transition: border-color 2s ease-in-out;
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  margin-top: 10px;
}
