.photo-arin__column:first-child {
  display: flex;
  height: 30px;
  width: 50px;
  margin-top: 10px;
}
.photo-arin__column:first-child a {
  padding: 5px;
  display: flex;
  align-items: center;
}
.photo-arin__column:last-child {
  margin-top: 20px;
}
.photo-arin__column img {
  height: 500px;
  width: 500px;
}
.photo-arin__column span {
  font-size: 20px;
  font-weight: 600;
}
