.screen-header {
  padding: 30px var(--horizontal) 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__titles {
  font-size: 30px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 20px;
}
