.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 3px;
}

.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-battery-three-quarters {
  margin: 0px 5px;
}
@keyframes StatusbarBounce {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
.status-bar span:hover,
.status-bar i:hover {
  will-change: animation;
  opacity: 0;
  animation: StatusbarBounce 2s ease-in-out infinite;
}
