.user-component {
  justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: rgb(0, 0, 0, 0.3);
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 40%;
}
.user-component__text {
  margin-left: 10px;
}
.user-component__title {
  font-weight: 600;
  font-size: 22px;
}
.user-component__subtitle {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 17px;
  color: rgb(0, 0, 0, 0.5);
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--xs {
  width: 60px;
  height: 60px;
}

.user-component__title--not-bold {
  font-weight: 400;
}
.user-component__time {
  display: block;
  margin-bottom: 10px;
}
.user-component__subtitle i {
  margin-left: 5px;
  color: tomato;
  opacity: 0.9;
}
